.profits-conteiner{
    width: 100%;
    height: 100vh;
}
.profits-head{
    max-width: 1200px;
    height: 13vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profits-list-box{
    max-width: 960px;
    height: auto;
    margin: auto;
}
.profits-list{
    display: block;
    width: 100%;
}
.profits-list-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    list-style: none;
    background: white;
    margin: 6px;
    border-radius: 10px;
}
.profits-comment, .profits-amount{
    font-size: 1.2em;
    display: block;
    width: 40%;
    height: 60%;
    text-align: center;
}
.profits-del-btn{
    width: 15%;
    height: 50%;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    background-color: red;
    color: white;
    background: linear-gradient(to right, #e91e63, #3f51b5);
}
.add-newprofits-btn{
    width: 55px;
    height: 55px;
    background-image: url(../../../src/components/Home/Balance/balanceImg/add.svg);
    margin-right: 25px;
}

@media screen and (max-width: 768px){
    .profits-list-item{
        font-size: 12px;
    }
}