.main-conteiner{
    max-width: 1200px;
    margin: auto;
    height: 57vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid white;

}


  
.expenses{
    text-decoration: none;
}



@media screen and (max-width: 768px){

    .main-conteiner{
        flex-direction: column;
    }
    main{
        height: 58vh;
    }
  };